/****** Global Styles ******/
body {
    font-family: "Source San 3", sans-serif;
    color: #5E5D5E;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}





/****** Header Styles ******/

.homepage-hero {
    background: url(../img/full-background.png), #F9EFEF;
    background-size: cover;
    background-position: center;
    height: 650px;
}


header h1 {
    float: left;
    width: 300px;
    font-family: "Lora", serif;
    font-size: 30px;
    color: #7B7E54;
    padding: 65px 0px 65px 25px;
}

header nav {
    width: 800px;
    float: right;
    text-align: right;
    padding: 75px 25px 75px 0px;

}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 18px;
    padding-left: 80px;
}

header h2 {
    clear: both;
    width: 1000px;
    color: #817F80;
    font-size: 72px;
    line-height: 80px;
    font-family: "Lora", serif;
    padding: 20px 0 20px 25px;
}






/****** About Styles ******/









/****** Skill Styles ******/









/****** Contact Styles ******/