/****** Global Styles ******/
body {
    font-family: "Source San 3", sans-serif;
    color: #5E5D5E;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}








/****** Header Styles ******/









/****** About Styles ******/









/****** Skill Styles ******/









/****** Contact Styles ******/