/****** Global Styles ******/
body {
    font-family: "Source San 3", sans-serif;
    color: #5E5D5E;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}


/****** Header Styles ******/

.homepage-hero {
    background: url(../img/full-background.png), #F9EFEF;
    background-size: cover;
    background-position: center;
    height: 650px;
}


header h1 {
    float: left;
    width: 300px;
    font-family: "Lora", serif;
    font-size: 30px;
    color: #7B7E54;
    padding: 65px 0px 65px 25px;
}

header nav {
    width: 800px;
    float: right;
    text-align: right;
    padding: 75px 25px 75px 0px;

}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 18px;
    padding-left: 70px;
}

header h2 {
    clear: both;
    width: 1000px;
    color: #817F80;
    font-size: 72px;
    line-height: 80px;
    font-family: "Lora", serif;
    padding: 20px 0 20px 25px;
}


/****** About Styles ******/

#about .content-wrapper {
    padding: 80px 0;
}

#about h2 {
    font-family: "Lora", serif;
    font-size: 36px;
    padding-left: 50px;
}
#about p {
    float: left;
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 50px;
}



/****** Skill Styles ******/

#skills {
    background-color: #F5F5F5;
    text-align: center;
}

#skills .content-wrapper {
    padding: 150px 0;
}

#skills .skill-list {
    float: left;
    width: 300px;
    padding: 0 50px;
}

#skills h2 {
    font-family: "Lora", serif;
    font-size: 36px;
    padding-bottom: 40px;
}

#skills h3 {
    font-size: 24px;
    line-height:36px ;
    margin: 30px 0 20px 0;
}

#skills p {
    font-size: 20px;
    line-height: 40px;
}



/****** Contact Styles ******/

#contact {
    background-color: #F9E9E9;
}

#contact .content-wrapper {
    padding: 110px 0;
} 

#contact .contact-image {
    float: left;
    width: 600px;
}

#contact #contact-img {
    width: 500px;
    height: 300px;
    border: 12px solid white;
    margin: 0 50px;
    box-sizing: border-box
}

#contact .contact-info {
    float: left;
    width: 600px;
    padding-left: 100px ;
    box-sizing: border-box;
}

#contact h2 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-weight: 600;
    margin: 30px 0;
}

#contact h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

#contact #email-header {
    margin-bottom: 5px;
}

#contact #social-media-header {
    margin: 20px 0 5px 0;
}

#contact #envelope-icon {
    padding-right: 10px;
}

#contact #email-link {
    color: #5E5D5E;
    font-size: 24px;
    line-height: 36px;
}

#contact ul {
    margin-top: 0;
    padding-left: 0;
}

#contact ul li {
    display: inline-block;
}

#contact ul li img {
    padding-right: 40px;
}


/*******  Projects Styles *******/

.projects-hero {
    
}